@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --main-color: #333;
  --main-hover: #444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-color: var(--main-color);
  --color-main-hover: var(--main-hover);
  --font-sans: var(--font-inconsolata);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none!important;
}
.no-scrollbar {
  -ms-overflow-style: none!important;
  scrollbar-width: none!important;
}
